* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; overflow: hidden; background-color: #002A3D; position: absolute;font-family: 'Atlas Grotesk Web'; }
table { border-collapse: collapse; width: 100%; height: 100%; text-align: center; }
td {position: relative;}

.logo { position: relative; display: inline-block; top: -49px }
.logo img { display: inline-block; height: 60px; width: 272px;}
.dot {
	content: '';
	width: 4px;
	height: 4px;
	background-color: #F36F21;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 54px;
	-webkit-transform: rotate(45deg) scale(1); 
	  	-ms-transform: rotate(45deg) scale(1); 
	    	transform: rotate(45deg) scale(1); 

	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.zoom {
	-webkit-transform: rotate(45deg) scale(1000); 
	  	-ms-transform: rotate(45deg) scale(1000); 
	    	transform: rotate(45deg) scale(1000);
}

.email { position: absolute; bottom: 40px; left: 50%; color: #D1D3D4; width: 200px; text-align: center; margin-left: -100px; text-decoration: none; font-size: 12px; line-height: 1.5em; display: none; }